<article>
  <p class="movie-title>">
    <a href="https://link-to-article.com">Movie Title</a>
  </p>
  <p class="release-date">Release Date</p> 
  <time>50 min</time>
  <p class="user">Ticket Reserved for Username</p>
 
  <p class="location-watched">Theater location / Streaming Service</p>

  <p class = "date">Date:</p>
  <p class = "time"> Time:</p>
  <time>00:00:00</time>
 
  <p class="user-review">
    User Review
  </p>
  
  <div class="rating">
    <span>5</span>
    <img src="/assets/images/icons/5-star.svg" alt="5 stars">
    <span>(500)</span>
  </div>
  
  <button id="edit">Edit</button>
  <button id="delete">Delete</button>
</article>