<form id="new-review">
    <fieldset>
        <label for="movie-title">Movie Title</label>
        <input type="text" id="movie-title" name="movie-title"><br>
        <label for="movie-poster">Upload Movie Poster</label>
        <input type="file" id="movie-poster" name="movie-poster" accept="image/*">
    </fieldset>

    <fieldset>
        <label for="release-date"> Release Date</label>
        <input type="date" id="release-date" name="release-date">
    </fieldset>

    <fieldset>
        <label for="date-input">Watch Date:</label>
        <input type="date" id="date-input" name="watch-date"><br>

        <label for="watch-count">Watch Count:</label>
        <input type="number" id="watch-count" name="watch-count" min="1"><br>

        <label for="review">Review:</label>
        <textarea id="review" name="review" rows="4" cols="50">Review</textarea><br>
    </fieldset>

    <!--Hover over the stars that you want to rate the movie, once you click it will update the rating-->

    <fieldset>
        <legend>Rating</legend>
        <label for="rating-0">0<input type="radio" id="rating-0" value="0" name="rating" /> </label>
        <label for="rating-1">1<input type="radio" id="rating-1" value="1" name="rating" /> </label>
        <label for="rating-2">2<input type="radio" id="rating-2" value="2" name="rating" /> </label>
        <label for="rating-3">3<input type="radio" id="rating-3" value="3" name="rating" /> </label>
        <label for="rating-4">4<input type="radio" id="rating-4" value="4" name="rating" /> </label>
        <label for="rating-5">5<input type="radio" id="rating-5" value="5" name="rating" /> </label>
    </fieldset>

    <button type="submit" form="new-review" value="Submit">Submit</button>
</form>
<script type="module" src="../scripts/formTemplate.js"></script>
<style>
/* Use syling from landing text bubble for consistency

.text-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(80%, -210%);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 30px;
  border-radius: 11px;
  position: relative;
  box-shadow: 10px 10px rgb(72 86 80);
  font-family: "Baloo 2", cursive;
}
*/
#new-review {
    padding-top:10px;
}

#new-review fieldset {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: column;
    border: none;
}

#new-review legend{
    
    display:flex;
    flex-direction:row;
    align-items: row;
}



</style>