body {
  background-image: url('/frontend/assets/city_top.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner {
  display: block;
  height: auto;
  width: 100%;
}

@media (width >= 800px) {
  .banner {
    width: 60vw;
    max-width: 900px;
  }
}

.scrolling-text {
  position: absolute;
  bottom:55px;
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  max-width: 600px;
}

.scrolling-text p {
  animation: scroll 10s linear infinite;
  font-size: 1.5rem;
  font-family: Limelight;
  min-width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.poster-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.poster-container img{
  height: 25vh;
  width: 15vw;
}

.poster-container img{
  height: 25vh;
  width: 15vw;
}

.poster-container img[alt ="Previous movie poster"] {
  position: relative;
  left: 0;
  transform: translateX(-20%);
  z-index: 1;
}

.poster-container img[alt = "Current movie poster"] {
  position: relative;
  z-index: 20; 
}

.poster-container img[alt ="Next movie poster"] {
  position: relative;
  right: 0;
  transform: translateX(20%);
  z-index: 1;
}

.carousel-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-btn{
  background-color: transparent;
  border: transparent;
}

/* .add-button-container{
  
} */

#add-ticket-button{
  background-image: url('/frontend/assets/filmstrip_btn.png');
  background-color: transparent;
  border: transparent;
}


button:active {
  filter: drop-shadow(5px 5px 5px #222);
}

button:hover {
  cursor: pointer;
}

.powell-ticket-booth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.text-bubble {
  display: flex;
  flex-direction: column;
<<<<<<< Updated upstream
  align-items: center;
=======
>>>>>>> Stashed changes
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 30px;
  border-radius: 11px;
  box-shadow: 10px 10px rgb(72 86 80);
  font-family: "Baloo 2", cursive;
  transition: all 0.4s ease;
}


#form-container.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.text-bubble.expanded #form-container {
  opacity: 1;
  pointer-events: auto;
}

#form-container {
  transition: opacity 0.4s ease, max-height 0.4s ease;
  max-height: 0;
  overflow: hidden;
}

.text-bubble.expanded #form-container {
<<<<<<< Updated upstream
  max-height: 1000px; /* large enough to fit content */
=======
  max-height: 1000px; 
>>>>>>> Stashed changes
}